<div class="container">
  <app-count-employeers [valuesEmployeers]="{all:getEmployeersCount(),femaleCount:getFemaleCount(),maleCount:getMaleCount()}" (countRadioButtonChange)="employeersCountRadioButtonChange($event)"></app-count-employeers>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Identification</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Salary</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let employeer of listEmployeers">
                    <tr *ngIf="radioButtonSelected === 'All' || radioButtonSelected === employeer.gender">
                      <td>{{employeer.identification}}</td>
                      <td>{{employeer.name}}</td>
                      <td>{{employeer.lastname}}</td>
                      <td>{{employeer.gender}}</td>
                      <td>{{employeer.salary | currency}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>
</div>
